---
  const { frontmatter } = Astro.props;

const {  title, slug, description, image } = frontmatter;

---
<a href={slug}>
  <img src={image.url} alt={image.alt}>
  <p>{title}</p>
  <p>{description}</p>
  <p>{}</p>
</a>
