---
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
import "../styles/pages/single-blog.scss";
---

<MainLayout title={frontmatter.title}>
  <div class="container single-post-page">
    <img class="single-post-main-img" src={frontmatter.image.url} width="800" height="500" alt={frontmatter.image.alt} />
    <p><em>{frontmatter.description}</em></p>

    <div class="author">
      <p class="author__name">{frontmatter.author}</p>
      <p class="pub__date-post">{frontmatter.pubDate.slice(0, 10)}</p>
    </div>
    

    <!-- <div class="tags">
      {
        frontmatter.tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div> -->
    <div class="single-post-content">
      <slot />
    </div>
  </div>
</MainLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
